@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Jose Garcia      041018283</h1>
    <h1 class="display-6">Ehsan Sobhani    041016666</h1>
    <h2> welcomes to Real Estate Portal</h2>
</div>
